USE [master]
GO
/****** Object:  Database [cuentaAhorros]    Script Date: 9/20/2021 5:49:16 PM ******/
CREATE DATABASE [cuentaAhorros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cuentaAhorros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\cuentaAhorros.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cuentaAhorros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\cuentaAhorros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cuentaAhorros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cuentaAhorros]
GO
/****** Object:  Table [dbo].[Beneficiarios]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdParentesco] [int] NOT NULL,
	[Porcentaje] [int] NOT NULL,
	[IdPersona] [int] NULL,
	[Activo] [bit] NULL,
	[FechaEliminacion] [date] NULL,
	[NumCuenta] [varchar](64) NOT NULL,
	[Cedula] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Beneficiarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentaAhorros]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentaAhorros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaCreacion] [date] NOT NULL,
	[Saldo] [float] NOT NULL,
	[IdPersona] [int] NULL,
	[IdTipoCuenta] [int] NOT NULL,
	[Cedula] [varchar](64) NOT NULL,
	[NumCuenta] [varchar](64) NOT NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [PK_CuentaAhorros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parentescos]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parentescos](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Parentescos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](20) NOT NULL,
	[Nombre] [varchar](64) NOT NULL,
	[FechaNac] [date] NOT NULL,
	[Tel1] [bigint] NOT NULL,
	[Tel2] [bigint] NULL,
	[Email] [varchar](max) NOT NULL,
	[IdTipoDoc] [int] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDocsIdentidad]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocsIdentidad](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](64) NOT NULL,
 CONSTRAINT [PK_TipoCedulas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMonedas]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMonedas](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](64) NOT NULL,
 CONSTRAINT [PK_TipoMonedas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposCuentaAhorros]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposCuentaAhorros](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](64) NOT NULL,
	[IdTipoMoneda] [int] NOT NULL,
	[SaldoMin] [float] NOT NULL,
	[MultaSaldoMin] [float] NOT NULL,
	[CargoAnual] [int] NOT NULL,
	[NumRetirosHumano] [int] NOT NULL,
	[NumRetirosAutomatico] [int] NOT NULL,
	[ComisionHumano] [int] NOT NULL,
	[ComisionCajero] [int] NOT NULL,
	[TasaInteres] [int] NOT NULL,
 CONSTRAINT [PK_TiposCuentaAhorros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioPuedeVer]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPuedeVer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](64) NOT NULL,
	[IdUsuario] [int] NULL,
	[NumCuenta] [varchar](64) NOT NULL,
 CONSTRAINT [PK_UsuarioPuedeVer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](64) NOT NULL,
	[Pass] [varchar](64) NOT NULL,
	[EsAdmin] [bit] NOT NULL,
	[Cedula] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Usuarios_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Beneficiarios]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiarios_Parentescos1] FOREIGN KEY([IdParentesco])
REFERENCES [dbo].[Parentescos] ([Id])
GO
ALTER TABLE [dbo].[Beneficiarios] CHECK CONSTRAINT [FK_Beneficiarios_Parentescos1]
GO
ALTER TABLE [dbo].[Beneficiarios]  WITH CHECK ADD  CONSTRAINT [FK_Beneficiarios_Personas] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Personas] ([Id])
GO
ALTER TABLE [dbo].[Beneficiarios] CHECK CONSTRAINT [FK_Beneficiarios_Personas]
GO
ALTER TABLE [dbo].[CuentaAhorros]  WITH CHECK ADD  CONSTRAINT [FK_CuentaAhorros_Beneficiarios] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Beneficiarios] ([Id])
GO
ALTER TABLE [dbo].[CuentaAhorros] CHECK CONSTRAINT [FK_CuentaAhorros_Beneficiarios]
GO
ALTER TABLE [dbo].[CuentaAhorros]  WITH CHECK ADD  CONSTRAINT [FK_CuentaAhorros_Personas] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Personas] ([Id])
GO
ALTER TABLE [dbo].[CuentaAhorros] CHECK CONSTRAINT [FK_CuentaAhorros_Personas]
GO
ALTER TABLE [dbo].[CuentaAhorros]  WITH CHECK ADD  CONSTRAINT [FK_CuentaAhorros_TiposCuentaAhorros1] FOREIGN KEY([IdTipoCuenta])
REFERENCES [dbo].[TiposCuentaAhorros] ([Id])
GO
ALTER TABLE [dbo].[CuentaAhorros] CHECK CONSTRAINT [FK_CuentaAhorros_TiposCuentaAhorros1]
GO
ALTER TABLE [dbo].[CuentaAhorros]  WITH CHECK ADD  CONSTRAINT [FK_CuentaAhorros_UsuarioPuedeVer] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuarioPuedeVer] ([Id])
GO
ALTER TABLE [dbo].[CuentaAhorros] CHECK CONSTRAINT [FK_CuentaAhorros_UsuarioPuedeVer]
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_TipoCedulas] FOREIGN KEY([IdTipoDoc])
REFERENCES [dbo].[TipoDocsIdentidad] ([Id])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_TipoCedulas]
GO
ALTER TABLE [dbo].[TiposCuentaAhorros]  WITH CHECK ADD  CONSTRAINT [FK_TiposCuentaAhorros_TipoMonedas] FOREIGN KEY([IdTipoMoneda])
REFERENCES [dbo].[TipoMonedas] ([Id])
GO
ALTER TABLE [dbo].[TiposCuentaAhorros] CHECK CONSTRAINT [FK_TiposCuentaAhorros_TipoMonedas]
GO
ALTER TABLE [dbo].[UsuarioPuedeVer]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPuedeVer_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[UsuarioPuedeVer] CHECK CONSTRAINT [FK_UsuarioPuedeVer_Usuarios]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDatos]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarDatos] @Porcentaje int, @Parentesco varchar(64), @Nombre varchar(64), @Cedula varchar(64), 
@CedulaB varChar(64)
As
	Begin
		DECLARE @SUMA AS INT
		DECLARE @P INT;
		IF @Parentesco='Padre'
			SET @P=1;
		IF @Parentesco='Madre'
			SET @P=2;
		if @Parentesco='Hijo'
			SET @P=3;
		if @Parentesco='Hija'
			SET @P=4;
		if @Parentesco='Hermano'
			SET @P=5;
		if @Parentesco='Hermana'
			SET @P=6;
		if @Parentesco='Amigo'
			SET @P=7;
		if @Parentesco='Amiga'
			SET @P=8;

		UPDATE dbo.Beneficiarios
		SET IdParentesco=@P,Porcentaje=@Porcentaje where @Cedula = Cedula;

		UPDATE dbo.Personas
		SET Nombre=@Nombre where Cedula = @CedulaB;

END;
GO
/****** Object:  StoredProcedure [dbo].[agregarBeneficiario]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[agregarBeneficiario]  @Parentezco varchar(64),@Porcentaje int,  @ident int,@Cuenta varchar(64)
AS
	
	BEGIN
	Declare @P Int;
		if @Parentezco='Padre'
			SET @P=1;
		if @Parentezco='Madre'
			SET @P=2;
		if @Parentezco='Hijo'
			SET @P=3;
		if @Parentezco='Hija'
			SET @P=4;
		if @Parentezco='Hermano'
			SET @P=5;
		if @Parentezco='Hermana'
			SET @P=6;
		if @Parentezco='Amigo'
			SET @P=7;
		if @Parentezco='Amiga'
			SET @P=8;

		INSERT INTO dbo.Beneficiarios (IdParentesco,Porcentaje,Cedula,NumCuenta)
		VALUES (@P,@Porcentaje,@ident,@Cuenta);


END;
GO
/****** Object:  StoredProcedure [dbo].[agregarPersona]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[agregarPersona] @Nombre varchar(64), @Fecha date, @ident int, @tel1 varchar(64),@tel2 varchar(64), 
@Email varchar(64)
AS
	
	BEGIN


		INSERT INTO dbo.Personas(Cedula,Nombre,FechaNac,Tel1,Tel2,Email)
		Values (@ident,@Nombre,@Fecha,@tel1,@tel2,@Email);

END;
GO
/****** Object:  StoredProcedure [dbo].[Eliminar]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Eliminar] @Cedula varchar(64)
As
	Begin
		UPDATE dbo.Beneficiarios
		SET Porcentaje=0 , Activo=0 , FechaEliminacion=GETDATE() where @Cedula = Cedula;


END;
GO
/****** Object:  StoredProcedure [dbo].[eliminarBeneficiario]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarBeneficiario] @Cedula varchar(64)
AS
	
	BEGIN
	DECLARE @Var as varchar(64)

	SELECT  dbo.Beneficiarios.Activo FROM  dbo.Beneficiarios WHERE dbo.Beneficiarios.Cedula=@Cedula


		
END;
GO
/****** Object:  StoredProcedure [dbo].[InsercionXML]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsercionXML]
AS
BEGIN
	--lectura del XML

	DECLARE @datos XML
	SELECT @datos = CAST(xmlfile AS xml)
	FROM OPENROWSET(BULK 'C:\Users\gmora\OneDrive\Desktop\2 SEMESTRE 2021\Bases de Datos\Tarea Programada\Github\DatosTarea.xml', SINGLE_BLOB) AS T(xmlfile)


	--insercion tipo docs identidad

	INSERT INTO dbo.TipoDocsIdentidad(Id, Nombre)
	SELECT  
		Id = T.Item.value('@Id', 'int'),
		Nombre = T.Item.value('@Nombre', 'varchar(64)')
	FROM @datos.nodes('Datos/Tipo_Doc/TipoDocuIdentidad') as T(Item)

	
	SELECT * FROM dbo.TipoDocsIdentidad
	--insercion tipo monedas

	INSERT INTO dbo.TipoMonedas(Id, Nombre)
	SELECT  
		Id = T.Item.value('@Id', 'int'),
		Nombre = T.Item.value('@Nombre', 'varchar(64)')
	FROM @datos.nodes('Datos/Tipo_Moneda/TipoMoneda') as T(Item)

	SELECT * FROM dbo.TipoMonedas
	
	--insercion tipo parentescos

	INSERT INTO dbo.Parentescos(Id, Nombre)
	SELECT  
		Id = T.Item.value('@Id', 'int'),
		Nombre = T.Item.value('@Nombre', 'varchar(64)')
	FROM @datos.nodes('Datos/Parentezcos/Parentezco') as T(Item)

	
	SELECT * FROM dbo.Parentescos
	--insercion tipo cuentas de ahorro

	INSERT INTO dbo.TiposCuentaAhorros(Id, Nombre,IdTipoMoneda,SaldoMin,MultaSaldoMin,CargoAnual,NumRetirosHumano,NumRetirosAutomatico,ComisionHumano,ComisionCajero,TasaInteres)
	SELECT  
		Id = T.Item.value('@Id', 'int'),
		Nombre = T.Item.value('@Nombre', 'varchar(64)'),
		IdTipoMoneda = T.Item.value('@IdTipoMoneda', 'int'),
		SaldoMin = T.Item.value('@SaldoMinimo', 'float'),
		MultaSaldoMin = T.Item.value('@MultaSaldoMin', 'float'),
		CargoAnual = T.Item.value('@CargoAnual', 'int'),
		NumRetirosHumano = T.Item.value('@NumRetirosHumano', 'int'),
		NumRetirosAutomatico = T.Item.value('@NumRetirosAutomatico', 'int'),
		ComisionHumano = T.Item.value('@ComisionHumano', 'int'),
		ComisionCajero = T.Item.value('@ComisionAutomatico', 'int'),
		TasaInteres = T.Item.value('@Interes', 'int')


	FROM @datos.nodes('Datos/Tipo_Cuenta_Ahorros/TipoCuentaAhorro') as T(Item)

	
	SELECT * FROM dbo.TiposCuentaAhorros
	--insercion Personas

	INSERT INTO dbo.Personas(Cedula,Nombre,FechaNac,Tel1,Tel2,Email,IdTipoDoc)
	SELECT  
		Cedula = T.Item.value('@ValorDocumentoIdentidad', 'int'),
		Nombre = T.Item.value('@Nombre', 'varchar(64)'),
		FechaNac = T.Item.value('@FechaNacimiento', 'date'),
		Tel1 = T.Item.value('@Telefono1', 'bigint'),
		Tel2 = T.Item.value('@Telefono2', 'bigint'),
		Email = T.Item.value('@Email', 'varchar(64)'),
		IdTipoDoc = T.Item.value('@TipoDocuIdentidad', 'int')
	FROM @datos.nodes('Datos/Personas/Persona') as T(Item)

	
	SELECT * FROM dbo.Personas
	--insercion cuentas

	INSERT INTO dbo.CuentaAhorros(FechaCreacion,Saldo,IdTipoCuenta,Cedula,NumCuenta)
	SELECT  
		FechaCreacion = T.Item.value('@FechaCreacion', 'date'),
		Saldo = T.Item.value('@Saldo', 'float'),
		IdTipoCuenta = T.Item.value('@TipoCuentaId', 'int'),
		Cedula = T.Item.value('@ValorDocumentoIdentidadDelCliente', 'varchar(64)'),
		NumCuenta = T.Item.value('@NumeroCuenta', 'varchar(64)')
	
	FROM @datos.nodes('Datos/Cuentas/Cuenta') as T(Item)

	SELECT * FROM dbo.CuentaAhorros
	--insercion beneficiarios

	INSERT INTO dbo.Beneficiarios(IdParentesco,Porcentaje,NumCuenta,Cedula)
	SELECT  
		IdParentesco = T.Item.value('@ParentezcoId', 'int'),
		Porcentaje = T.Item.value('@Porcentaje', 'int'),
		NumCuenta = T.Item.value('@NumeroCuenta', 'varchar(64)'),
		Cedula = T.Item.value('@ValorDocumentoIdentidadBeneficiario', 'varchar(64)')
	
	
	FROM @datos.nodes('Datos/Beneficiarios/Beneficiario') as T(Item)

	
	SELECT * FROM dbo.Beneficiarios
	--insertar Usuarios

	INSERT INTO dbo.Usuarios(Username,Pass,EsAdmin,Cedula)
	SELECT  
		Username = T.Item.value('@User', 'varchar(64)'),
		Pass = T.Item.value('@Pass', 'varchar(64)'),
		EsAdmin = T.Item.value('@EsAdministrador', 'bit'),
		Cedula = T.Item.value('@ValorDocumentoIdentidad', 'varchar(64)')
	
	
	FROM @datos.nodes('Datos/Usuarios/Usuario') as T(Item)

	
	SELECT * FROM dbo.Usuarios
	-- insercion usuarios puede ver

	INSERT INTO dbo.UsuarioPuedeVer(Username,NumCuenta)
	SELECT  
		Username = T.Item.value('@User', 'varchar(64)'),
		NumCuenta = T.Item.value('@NumeroCuenta', 'varchar(64)')
	
	FROM @datos.nodes('Datos/Usuarios_Ver/UsuarioPuedeVer') as T(Item)

	
	SELECT * FROM dbo.UsuarioPuedeVer

END;
GO
/****** Object:  StoredProcedure [dbo].[numeroCuentas]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[numeroCuentas] @Cedula varchar(64)
As
	BEGIN

		Select NumCuenta from Beneficiarios where Cedula=@Cedula;
END;
GO
/****** Object:  StoredProcedure [dbo].[ValidarBeneficiarios]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarBeneficiarios] @Cedula varchar(64)
As
	BEGIN

		If (select count(Cedula) from beneficiarios where Cedula=@Cedula )<3
			return 1
		else
			return 0
END;
GO
/****** Object:  StoredProcedure [dbo].[ValidarEdit]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ValidarEdit] @cedula varchar(64), @cedulaB varchar(64)
As
	BEGIN
		IF EXISTS (SELECT 1 FROM dbo.Personas WHERE  Cedula = @cedulaB) 
			IF EXISTS (SELECT 1 FROM dbo.Beneficiarios WHERE cedula = @cedula)
					
					return 1
		else
			return 0
END;
GO
/****** Object:  StoredProcedure [dbo].[ValidarElim]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarElim] @cedula varchar(64), @porcentaje varchar(64), @numCuenta varchar(64)
As
	BEGIN
		IF EXISTS (SELECT 1 FROM dbo.Personas WHERE Cedula = @cedula) 
			IF EXISTS (SELECT 1 FROM dbo.CuentaAhorros WHERE NumCuenta = @NumCuenta) 
				IF EXISTS (SELECT 1 FROM dbo.Beneficiarios WHERE Porcentaje = @Porcentaje)
					
					return 1
		else
			return 0
			

END;
GO
/****** Object:  StoredProcedure [dbo].[validarIdenPersona]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[validarIdenPersona] @ident varchar(64)
AS
	BEGIN
		
		IF EXISTS (SELECT 1 FROM dbo.Personas WHERE Cedula = @ident)
			return  1
		else
			Return  0
		
END;
GO
/****** Object:  StoredProcedure [dbo].[validarIdentificacion]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[validarIdentificacion] @ident varchar(64)
AS
	BEGIN
		
		IF EXISTS (SELECT 1 FROM dbo.Beneficiarios WHERE Cedula = @ident)
			return  1
		else
			Return  0
		
END;
GO
/****** Object:  StoredProcedure [dbo].[validarPorcentaje]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[validarPorcentaje] @Porcentaje2 int , @Cedula varChar(64)
As
	Begin
		DECLARE @Val AS INT;
		DECLARE @Sum AS INT;
		SET @SUM=@Val+@Porcentaje2

		SET @Val = (SELECT SUM(Porcentaje) FROM dbo.Beneficiarios WHERE @Cedula=Cedula)

		Set @Sum= @Val +@Porcentaje2
		

		
		IF @Sum<100

			

			RETURN 1;


		IF @Sum>100

			

			RETURN 0;
		
		IF @Sum=100
			

			RETURN 10;	
END;
GO
/****** Object:  StoredProcedure [dbo].[validarUsuario]    Script Date: 9/20/2021 5:49:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[validarUsuario] @Usuario varchar(64), @Contra varchar(64)
AS
  DECLARE @returnVal AS int
	BEGIN
		
		IF EXISTS (SELECT 1 FROM dbo.Usuarios WHERE Username = @Usuario AND Pass = @Contra )
			 
			return  1
		else
			
			Return  0
		
END;
GO
USE [master]
GO
